<div class="container">
  <div class="jumbotron">
    <div *ngIf="notify" class="alert alert-success container marge">
      {{ notify }}
    </div>
    <form [formGroup]="productRef" (ngSubmit)="update()">
      <!-- <label>Product Code</label><br />
    <input type="text" formControlName="code" /><br /> -->
      <label>Product Name</label><br />
      <input type="text" formControlName="name" [value]="name" /><br />
      <label>Product Details</label><br />
      <input type="text" formControlName="details" [value]="details" /><br />
      <label>Product Image</label><br />
      <input type="text" formControlName="image" [value]="image" /><br />
      <label>Product Price</label><br />
      <input type="text" formControlName="price" [value]="price" /><br />
      <label>Product Company</label><br />
      <input
        type="text"
        formControlName="company"
        [value]="company"
      /><br /><br />
      <input type="submit" id="submit" value="Add" /><br /><br />
      <a class="nav-link active" [routerLink]="['/products-list']">Go Back</a>
    </form>
  </div>
</div>
