<div class="container">
  <div class="jumbotron">
    <div *ngIf="notify" class="alert alert-success container marge">
      {{ notify }}
    </div>
    <form [formGroup]="productRef" (ngSubmit)="addProduct()">
      <!-- <label>Product Code</label><br />
    <input type="text" formControlName="code" /><br /> -->
      <label>Product Name</label><br />
      <input type="text" formControlName="name" /><br />
      <label>Product Details</label><br />
      <input type="text" formControlName="details" /><br />
      <label>Product Image</label><br />
      <input type="text" formControlName="image" /><br />
      <label>Product Price</label><br />
      <input type="text" formControlName="price" /><br />
      <label>Product Company</label><br />
      <select name="" id="comp" class="custom-select">
        <option selected>Choose...</option>
        <option *ngFor="let company of companies" value="">
          {{ company.name }}
        </option></select
      ><br /><br />
      <!-- <input type="text" formControlName="company" /><br /> -->
      <br />
      <input type="submit" id="submit" value="Add" /><br /><br />
      <a class="nav-link active" [routerLink]="['/products-list']">Go Back</a>
    </form>
  </div>
</div>
